<h1>Name: <%= @cat.name %></h1>
<ul>
    <li><%= @cat.color %></li>
    <li><%= @cat.birth_date %></li>
    <li><%= @cat.sex %></li>
    <li><%= @cat.description %></li>
</ul>
<a href="<%= edit_cat_url(@cat) %>">Edit Cat</a>
<br>
<br>
<a href="<%= cats_url %>">To All Cats</a>